[submodule "QUASART-mpiBWA"]
	path = QUASART-mpiBWA
	url = https://github.com/fredjarlier/mpiBWA.git
[submodule "QUASART-mpiSORT"]
	path = QUASART-mpiSORT
	url = https://github.com/fredjarlier/mpiSORT.git
