[submodule "mpiBWA"]
	path = QUASART-mpiBWA
	url = https://github.com/fredjarlier/mpiBWA/QUASART-mpiBWA.git
[submodule "mpiSORT"]
	path = QUASART-mpiSORT
	url = https://github.com/fredjarlier/mpiSORT/QUASART-mpiSORT.git
